@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-btns{
  margin-left: 60%; 
}
body{
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 2.5rem!important;
}
h2{
    font-size: 1.8rem !important;
    font-weight: 800 !important;
}
h3{
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}
h4{
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}
h5{
    font-size: 1rem !important;
    font-weight: 400 !important;
}
h6{
    color: #D8D8D8;
}
.navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
}
.nav-link{
    padding: 0 20px;
    color: black !important;
    transition: 0.4s ease;
}
.nav-link:hover,i:hover{
   color: coral !important;
}
.navbar i{
    font-size: 1rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 13px !important;
}
#home{
    background-image: url('../assets/home.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
#home span{
    color: coral;
}
button{
    font-size: 0.8rem;
    font-weight: 400;
    outline: none;
    border: none;
    color: aliceblue;
    background-color: #1d1d1d;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px !important;
    transition: 0.5s ease;
}
button:hover{
    background-color: coral;
}
#new img{
  width: 70%;
  height: 60%;
}
.head{
    font-size: 20px !important;
}

#new{
    margin-top: 50px;
}
.product img{
    margin-top: 10px;
    width: 60%;
    height: 60%;
}
.product img:hover{
    opacity: 0.5;
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;
}
#banner{
    background-image: url('../assets/home.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h1{
    color: coral;
}
#banner button{
    background-color: coral;
}
#banner button:hover{
    background-color: #1d1d1d;
}
#featured i,#cloths i,#watches i,#shoes i{
    color: coral;
}
footer{
    background-color: #1d1d1d;
}
footer h5{
    color: white;
    font-size: 3.2rem;
    font-weight: 700;
}
footer li{
    list-style: none;
    padding-bottom: 4px;
}
footer li a{
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
}
footer .text{
  color: white;
}
footer .copyright a{
    color: #1d1d1d;
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}
footer .copyright a:hover{
    color: white;
    background-color: coral;
}
.pagination a{
    color: coral;
}
.pagination li:hover a{
    background-color: coral;
    color: white;
}
.small-img-group{
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.single-product input:focus{
  outline: none;
}
.buy-btn{
    background-color: coral;
    opacity: 1;
    transition: 0.4s all;
}
.single-product .buy-btn:hover{
    background-color: #1d1d1d;
    color: white;
}
.single-product input{
    height: 40px;
    width: 80px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.adj{
    height: 60% !important;
    width: 30% !important;
}



.cart table{
    width: 100%;
    border-collapse: collapse;   
}
.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}
.cart th{
    text-align: left;
    padding: 5px 3px;
    color: white;
    background-color: coral;
}
.cart td{
    padding: 10px 20px;
}
.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.cart td input{
     width: 40px;
     height: 20px;
     padding: 5px;
     border: none;
}
.cart td input:focus{
    outline: none;
}
.remove-btn{
    color: coral;
    text-decoration: none;
    font-size: 14px;
}
.edit-btn{
    color: coral;
    text-decoration: none;
    font-size: 14px;
}
.cart .product-info p{
    margin: 3px;
}
.total{
    display: flex;
    justify-content: flex-end;
}
.total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid orange;
}
th:last-child{
    text-align: right;
}
td:last-child{
    text-align: right;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
}

#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
}
#login-form input{
    width: 50%;
    margin: 5px auto;
}
#login-form #login-btn{
    background-color: coral;
    color: white;
}
#register-url{
    color: coral;
}
#login-url{
    color: coral;
}
#account-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
}
#account-form input{
    margin: 5px auto;
}
.change-btn{
    color: white !important;
    background-color: coral !important;
}
#logout-btn{
    color: orange;
    text-decoration: none;
}
#account-form input{
     padding: 5px;
     border-radius: 5px 1px solid black;
     outline: none;
}

.orders td img{
    width: 80px;
    height: 80px;
}
.orders table{
    width: 100%;
    border-collapse: collapse;
}
.orders .product-info{
    display: flex;
    flex-wrap: wrap;
}
.orders th{
    text-align: left;
    padding: 5px 10px;
    color: white;
    background-color: coral;
}
.orders th:nth-child(2){
    text-align: right;
}
.orders td{
    padding: 10px 20px;
}


#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
}
#register-form input{
    width: 50%;
    margin: 5px auto;
}
#register-form #register-btn{
    background-color: coral;
    color: white;
}


#checkout-form .checkout-sm-ele{
    display: inline-block;
    width: 40%;
    margin: 10px auto;
}

#checkout-form .checkout-lg-ele{
    width: 90%;
}

#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form #checkout-btn{
         color:white;
         background-color: coral;
}

#contact span{
    color: coral;
}

.cart .remove-btn{
    color: coral;
    text-decoration: none;
    border-color: none;
    width: 100%;
    height: 50%;
}
.edit-btn{
    color: coral;
    text-decoration: none;
    border-color: none;
    width: 50% !important;
    height: 50% !important;
}